<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client-Side GET Request</title>
</head>
<body>
    <h1>GET Request</h1>
    <form method="post">
        <input type="text" name="url" placeholder="Enter URL">
        <input type="submit" value="Analyze URL">
    </form>

    <h1>Analysis Result</h1>
    <p>Top Topic: {{ top_topic }}</p>
    <p>Top Topic Terms: {{ top_topic_terms }}</p>
    <p>Top Topic Strength: {{ top_topic_strength }}</p>
    <p>Summary: {{ summary }}</p>

    <script>
    document.querySelector('form').addEventListener('submit', function(e) {
        e.preventDefault();
        var urlInputs = document.querySelectorAll('input[name="url"]');
        var urls = [];

        urlInputs.forEach(function(input) {
            urls.push(input.value);
        });

        var urlQueryString = urls.map(url => 'url=' + encodeURIComponent(url)).join('&');
        fetch('/trateaza?' + urlQueryString, { method: 'POST' })
            .then(response => response.json());
<!--            .then(data => {-->
<!--                const resultsDiv = document.getElementById('results');-->
<!--                resultsDiv.innerHTML = "Response: " + JSON.stringify(data);-->
<!--            });-->
    });
    </script>
</body>
</html>